<nav>
	<ul>
		<li><a class="Link" href="./index.html">На главную страницу</a></li>
		<li><a class="Link" href="./inner.html">На внутреннюю страницу</a></li>
		<li><a class="Link" href="./test.html" aria-current="page">На тестовую страницу</a></li>
	</ul>
</nav>
